.idea/
.env
.vscode
.editorconfig
*.iml
db/
/vendor
**/.DS_Store
/ui/node_modules/
/db
docker-compose.override.yml
docker-start.sh
elc.sh
web/sites/*/files
/files-private
web/sites/*/private

web/core
web/modules/contrib
web/themes/contrib
web/profiles/contrib
web/libraries
drush/Commands

# Ignore custom theme build artifacts
web/themes/custom/*/node_modules
web/themes/custom/*/css
web/themes/custom/*/styleguide